/.editorconfig
/.env
/.gitattributes
/.tx
/.vscode
/admin
/archive.md
/build
/cglcoll4saisonsindex.php
/ChangeLog.md
/composer.json
/composer.lock
/COPYING
/core
/info.md
/modulebuilder.txt
/sql
/src
/test
/vendor

