.footer {
    width: 100%;
    background-color: var(  --deuxiemeColor);
    padding: 20px;
    color: var(--cinquiemeColor);
    margin-top: 20px;
}
.footer .container-texte {
    flex-direction: column;
    justify-content: space-between;
}
.footer p {
    line-height: 1.5;
   margin: 0 10px;
}
