.footer {
    width: 100%;
    /* background-color: var(--deuxiemeColor);*/
    padding: 20px;
    color: var(--cinquiemeColor);
    
}
.container-texte {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}

.footer-p {
    flex: 1 1 calc(50% - 10px); /* 50% moins l'espace */
    min-width: 200px;
    box-sizing: border-box;
    text-align: center;
}

.footer-p a {
    display: block;
    width: 100%;
    text-align: center;
}

/* Forcer une colonne sous 450px */
@media (max-width: 450px) {
    .footer-p {
        flex: 1 1 100%; /* Prend 100% de la largeur en dessous de 450px */
    }
}

