
@import 'reset.css'; /* Réinitialisation des styles par défaut du navigateur */
@import 'typo.css'; /* Styles de typographie (polices, tailles, etc.) */
@import 'root.css'; /* variables */
@import 'titles.css'; /* titres h1, h2 ... */
@import 'buttons.css'; /* boutons */
@import 'header.css'; /* boutons */
@import 'footer.css'; /* boutons */
@import 'messages_erreur.css'; /* boutons */
@import 'img.css'; /* images*/
@import 'input.css'; /* images*/

/* console ercran pour debug smartphone */


#console {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px;
    height: 150px;
    overflow-y: scroll;
    font-family: monospace;
    background-color: rgba(240, 240, 240, 0.5);
}


/* structure des pages */
body {
    font-family: var(--fonte);
    font-size: 15px;
    background-color: var( --quatriemeColor);
}
.flex {
    display: flex;
    flex-wrap: wrap;
}

.container {
    max-width: 600px;
    margin: auto;
    background-color: var(--cinquiemeColor);
}


/* liste des departs*/
.liste-depart {
    padding: 0 20px;
}
.card-liste-depart {
    border-radius: var( --borderRadius);
    border: 1px solid var(--quatriemeColor);
    margin-bottom: 10px;
    padding: 10px;
    line-height: 1.5;
}

/* detail depart et detail location */
.detail-depart, .detail-location {
    padding: 0 20px;
}
.activite {
    flex-direction: column;
    line-height: 1.5;
}
.activite p {
    padding-left: 10px;
  
}
.activite .date, .activite .lieu {
    font-weight: 300;
}
/* a bientot / infos enregistrees */
.message-confirmation {
    height: 70vh;
    flex-direction: column;
    align-items: center;
}
.message-confirmation .container-message-confirmation {
    position: fixed;
    top: 250px;
    max-width: 400px;
    justify-content: center;
}
.message-confirmation footer {
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 600px;
   
}

/* errtech / errdroit */
.message-conf-err {
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
}

.message-conf-text {
    margin: 100px 0;
    max-width: 400px;
    justify-content: center;
}
