/* generale */
h2 {
    margin: 20px 0;
    padding: 0 10px;
}
h3 {
    margin: 0 0 5px 0;
    /* padding: 5px 10px; */
}

/* footer */
.footer h3 {
    width: 100%;
    text-align: center;
    margin: 10px 0 20px 0;
}

/* detail depart */
.detail-depart h3, .detail-location h3, .h3detaildepart {
    width: 100%;
    background-color: var(--deuxiemeColor);
    border-radius: var(--borderRadius);
    margin: 10px 0 0 0;
    color: var(--cinquiemeColor);
    font-weight: 300;
    font-size: 14px;
}
.activite h3, .h3detaildepart {
    margin: 0 0 10px 0;
    padding: 3px 9px;
}
.formLocation h3, .formDepart h3 {
    margin: 10px 0;
    padding: 5px 10px;
}
.activite p{
    font-weight: 600 ;
}



